page-data {
  ion-label {
    font-size: 16px;
  }

  img {
    width: 24px;
    height: 36px;
  }

  ion-icon {
    width: 24px;
    height: 36px;
  }

  ion-badge {
    font-size: 16px;
    height: 32px;
    width: 120px;
    padding: 8px;
  }
}
